<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">


<div class="container text-center">
    <h1>BMI Calculator</h1>

    <form action="{% url 'result' %}">
        <input type="number" name="weight">Weight<br><br>
        <input type="number" name="height">Height<br><br>
        <input type="submit" value="Submit">
    </form>
</div>
